body {
background: url("calculator.jpg");
background-size: 100% auto;
background-repeat: no-repeat;
margin: 0;
}

#calctitle {
color: white;
font-family: 'Trade Winds';
text-align: center;
text-shadow: 0 12px 12px rgb(0,0,0);
}

.CalculatorContainer{
width:500px;
height:335px;
margin:auto;
background-color: black;
border:4px solid black;
box-shadow: 0 16px 16px rgb(0,0,0);
}

#finalresult{
margin-left: 2px;
width:495px;
}

#clearbutton{
margin-top: 5px;
width:492.5px;
}

input{
width:120px;
height:50px;
background-color:gray;
font-size:30px;
color:white;
border-bottom:1px solid black;
}

input {
    
}
